name: Test Chalk

on:
  push:
    branches: [main, dev]
  pull_request:

jobs:
  test:
    name: "Test"
    strategy:
      matrix:
        python_version: ["3.10", "3.8"]
        extra_deps: ["dev", "all"]
      fail-fast: false

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
          cache: "pip"

      - name: Install dependencies
        run: pip install --upgrade ".[${{ matrix.extra_deps }}]"

      - name: Run test suite
        run: pytest tests/** --junitxml=./test-result.xml

      - name: Test Report
        uses: mikepenz/action-junit-report@v3.5.2
        if: always()
        with:
          report_paths: "test-result.xml"
          check_name: "Test Report"
          require_tests: true
