[tool.poetry]
name = "scribe-updater"
version = "0.11.0"
description = "A tool to upgrade scribe configuration files"
authors = ["Paul Cardoos <paul.cardoos@clinc.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
click = "^8.1.3"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
coverage = {extras = ["toml"], version = "^7.0.1"}
pytest-cov = "^4.0.0"
pytest-mock = "^3.10.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["scribe_updater"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[tool.poetry.scripts]
updater = "scribe_updater.console:main"
