name: Python Linting

on:
  pull_request: {}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure the SSH private key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.CHALK_GH_DEPLOY_KEY }}

      - name: Configure github clones to use SSH via the private key
        run: |
          set -exuo pipefail
          git config --global url.ssh://git@github.com/.insteadOf https://github.com/

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install --upgrade pip setuptools wheel pre-commit
          pip install --upgrade -r requirements-dev.txt -r requirements.txt

      - name: Run pre-commit
        run: pre-commit run --all-files

      - name: Fix lint errors if needed
        if: ${{ failure() }}
        run: |
          set -exuo pipefail
          if [[ $(git diff --stat) != '' ]]; then
            git config --global user.name 'Linter'
            git config --global user.email 'bot@chalk.ai'
            git fetch --all
            git checkout $GITHUB_HEAD_REF
            git commit -am "Fix linting"
            git push
          else
            echo 'The pre-commit check failed but did not modify any files. Any failing checks will need to be resolved manually.'
          fi
